@{
    ViewData["Title"] = "Add";
}
@model ProductViewModel

<h1>Ürün Ekleme</h1>

<div class="alert-danger" asp-validation-summary="ModelOnly">
</div>

<form asp-controller="Products" asp-action="Add" method="post">
    <div class="mb-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" asp-for="Name">Ürün İsmi</label>
            </div>
            <input class="form-control" asp-for="Name">
        </div>
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="mb-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" asp-for="Price">Ürün Fiyatı</label>
            </div>
            <input type="text" class="form-control" asp-for="Price">
        </div>
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>

    <div class="mb-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" asp-for="Stock">Ürün Stoğu</label>
            </div>
            <input class="form-control" asp-for="Stock">
        </div>
        <span class="text-danger" asp-validation-for="Stock"></span>
    </div>

    <div class="mb-3">
        <div class="form-floating">
            <textarea class="form-control" placeholder="Bir ürün açıklaması giriniz" asp-for="Description" style="height: 100px"></textarea>
            <label asp-for="Description">Ürün Açıklaması</label>
        </div>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>

    <div class="mb-3">
        <select class="form-select" asp-for="Color" asp-items="@ViewBag.ColorSelect">
            <option value="">Renk seçiniz</option>
        </select>
        <span class="text-danger" asp-validation-for="Color"></span>
    </div>

    <div class="mb-3">
        <div class="form-check form-switch">
            <label class="form-check-label" asp-for="IsPublish">Yayınlanacak</label>
            <input class="form-check-input" asp-for="IsPublish">
        </div>
    </div>

    <div class="mb-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" asp-for="PublishDate">Ürün Yayınlanma Tarihi</label>
            </div>
            <input class="form-control" asp-for="PublishDate">
        </div>
        <span class="text-danger" asp-validation-for="PublishDate"></span>
    </div>

    <div class="mb-3">
        <span class="form-label">Yayın Süresi</span>
        @foreach (var item in ViewBag.Expire as Dictionary<string, int>)
        {
            <div class="form-check">
                <input class="form-check-input" type="radio" id="Expire @item.Key" asp-for="Expire" value="@item.Value">
                <label class="form-check-label" for="Expire @item.Key">@item.Key</label>
            </div>
        }
        <span class="text-danger" asp-validation-for="Expire"></span>
    </div>

    <button type="submit" class="btn btn-primary">Ürün Kaydet</button>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}